[submodule "src/github.com/apoydence/onpar"]
	path = src/github.com/apoydence/onpar
	url = https://github.com/apoydence/onpar
[submodule "src/github.com/hashicorp/raft"]
	path = src/github.com/hashicorp/raft
	url = https://github.com/hashicorp/raft
[submodule "src/github.com/armon/go-metrics"]
	path = src/github.com/armon/go-metrics
	url = https://github.com/armon/go-metrics
[submodule "src/github.com/hashicorp/go-msgpack"]
	path = src/github.com/hashicorp/go-msgpack
	url = https://github.com/hashicorp/go-msgpack
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
